{% extends "base.html" %}

{% block content %}
<table id="transactions">
  {% for symbol, transactions in data.items() %}
        <tr>
          <th> {{ symbol }} </th>
          <td>
            <table id="records">
               {% for date,records in transactions.items() %}
                 <tr>
                    <th> {{ date }} </th>
                    <td>
                         <table id="legs">
                           {% for rec in records %} 
                             <tr><td>{{rec.description}}</td></tr>
                           {% endfor %}
                         </table>
                    </td>
                 </tr>
               {% endfor %}
            </table>
          </td>
        </tr>
  {% endfor %}
</table>
{% endblock %}


